.fave-section{
        display:block;
		margin-left:25px;
        margin-right:25px;
        line-height: 35px;

        h2{
            font-size:32px;
            color:#445756;
        }

        .fave-start{
            margin-bottom:70px;
        }

        p{
            background-color: #2A5754;
            padding:7px;
            border-radius:7px;
        }

        img{
            display:block;
            margin-left:auto;
            margin-right:auto;
            margin-top:70px;
            margin-bottom:70px;
        }
}