$main-text-color: white;
$main-header-color: rgb(41, 41, 41);
$main-bg-color: #A9D6D4;
$header-font:'Verdana', 'helvetica', sans-serif;
$main-font: 'Futura', 'helvetica', sans-serif;
$main-font-size: 18px;

